{% extends 'base.html' %}

{% block javascript %}
    <script type="text/javascript">
    function calculate_total() {
        //sets variables to the select inputs, easier to get selected value below
        var e = document.getElementById('exam');
        var Q1 = document.getElementById('first_quarter');
        var Q2 = document.getElementById('second_quarter');
        //gets selected values of all three dropdowns and parses them as numbers
        var quarter1 = Number(Q1.options[Q1.selectedIndex].value);
        var quarter2 = Number(Q2.options[Q2.selectedIndex].value);
        var exam = Number(e.options[e.selectedIndex].value);
        //adds 3 areas points
        var total = quarter1 + quarter2 + exam;
        //grade points referenced from https://www.bee-man.us/school/broward_grades.php
        //gets total and assesses what grade is associated with the total, and prints as letter on page
        if(total >= 28){
            document.getElementById('grade').innerHTML = "A";
        }
        else if(total >= 24.5){
            document.getElementById('grade').innerHTML = "B+";
        }
        else if(total >= 20){
            document.getElementById('grade').innerHTML = "B";
        }
        else if(total >= 16.5){
            document.getElementById('grade').innerHTML = "C+";
        }
        else if(total >= 12){
            document.getElementById('grade').innerHTML = "C";
        }
        else if(total >= 8.5){
            document.getElementById('grade').innerHTML = "D+";
        }
        else if(total >= 5){
            document.getElementById('grade').innerHTML = "D";
        }
        else{
            document.getElementById('grade').innerHTML = "F";
        }
    }
    </script>
{% endblock %}

{% block title %}
Semester Grade
{% endblock %}

{% block body %}
    <h2>Semester Grades<br>
    Broward County Schools</h2>
    <!--sets up three different dropdown inputs that have options with values equal
    to associated grade points-->
    <p>First Quarter</p>
    <!--grade points referenced from https://www.bee-man.us/school/broward_grades.php-->
    <select id = 'first_quarter' onchange="calculate_total()">
    	<option value = "12" selected>A</option>
    	<option value = "9.3">B+</option>
    	<option value = "9">B</option>
    	<option value = "6.3">C+</option>
    	<option value = "6">C</option>
    	<option value = "3.3">D+</option>
    	<option value = "3">D</option>
    	<option value = "0">F</option>
    </select>
    <p>Second Quarter</p>
    <select id = 'second_quarter' onchange="calculate_total()">
    	<option value = "12" selected>A</option>
    	<option value = "9.3">B+</option>
    	<option value = "9">B</option>
    	<option value = "6.3">C+</option>
    	<option value = "6">C</option>
    	<option value = "3.3">D+</option>
    	<option value = "3">D</option>
    	<option value = "0">F</option>
    </select>
    <p>Exam</p>
    <select id = 'exam' onchange="calculate_total()">
    	<option value = "8" selected>A</option>
    	<option value = "6.2">B+</option>
    	<option value = "6">B</option>
    	<option value = "4.2">C+</option>
    	<option value = "4">C</option>
    	<option value = "2.2">D+</option>
    	<option value = "2">D</option>
    	<option value = "0">F</option>
    </select>
    <p>Semester Grade</p>
    <!--displays final semester grade; default as A-->
    <h1 id='grade'>A</h1>
{% endblock %}